USE [GruzzPIS]
GO
/****** Object:  Table [dbo].[Заявки]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки](
	[ID_заявки] [int] IDENTITY(1,1) NOT NULL,
	[ID_клиента] [int] NULL,
	[ID_менеджера] [int] NULL,
	[ID_статус] [int] NULL,
	[Дата] [datetime] NULL,
	[Комментарий] [nvarchar](max) NULL,
	[Адрес_отправления] [nvarchar](max) NULL,
	[Адрес_прибытия] [nvarchar](max) NULL,
	[Название_груза] [nvarchar](50) NULL,
	[Вес] [int] NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK_Заявки] PRIMARY KEY CLUSTERED 
(
	[ID_заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Маршруты]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Маршруты](
	[ID_маршрута] [int] IDENTITY(1,1) NOT NULL,
	[ID_водителя] [int] NULL,
	[Дата_отправки] [datetime] NULL,
	[Дата_прибытия] [datetime] NULL,
	[ID_транспорта] [int] NULL,
	[ID_статус] [int] NULL,
	[ID_заявки] [int] NULL,
	[Стоимость] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Перевозки] PRIMARY KEY CLUSTERED 
(
	[ID_маршрута] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Платежи]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платежи](
	[ID_Платежа] [int] IDENTITY(1,1) NOT NULL,
	[ID_маршрута] [int] NULL,
	[Сумма] [decimal](18, 0) NULL,
	[Дата_платежа] [date] NULL,
	[ID_статуса] [int] NULL,
 CONSTRAINT [PK_Платежи] PRIMARY KEY CLUSTERED 
(
	[ID_Платежа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nchar](10) NOT NULL,
	[Имя] [nchar](10) NOT NULL,
	[Отчество] [nchar](10) NULL,
	[Дата_рождения] [datetime] NOT NULL,
	[Телефон] [int] NOT NULL,
	[Почта] [nchar](10) NULL,
	[ID_роли] [int] NOT NULL,
	[Фото] [image] NULL,
	[Стаж] [decimal](18, 0) NULL,
	[Зарплата] [money] NULL,
	[Паспорт] [nchar](10) NULL,
	[Логин] [nchar](10) NULL,
	[Пароль] [nchar](10) NULL,
	[Активен] [bit] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Роли]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Роль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Статус]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Наименование_статуса] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статус] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Транспорт]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Транспорт](
	[ID_транспорта] [int] IDENTITY(1,1) NOT NULL,
	[Номерной_знак] [nchar](10) NOT NULL,
	[Тип] [nvarchar](50) NOT NULL,
	[Вместительность] [int] NOT NULL,
	[Год_выпуска] [int] NOT NULL,
	[ID_статус] [int] NULL,
 CONSTRAINT [PK_Транспорт] PRIMARY KEY CLUSTERED 
(
	[ID_транспорта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Уведомления]    Script Date: 09.05.2025 22:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Уведомления](
	[ID_уведомления] [int] IDENTITY(1,1) NOT NULL,
	[ID_пользователя] [int] NULL,
	[ID_заявки] [int] NULL,
	[Текст] [nvarchar](max) NULL,
	[Дата_создания] [datetime] NULL,
	[Прочитано] [bit] NULL,
 CONSTRAINT [PK_Уведомления] PRIMARY KEY CLUSTERED 
(
	[ID_уведомления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Заявки] ON 

INSERT [dbo].[Заявки] ([ID_заявки], [ID_клиента], [ID_менеджера], [ID_статус], [Дата], [Комментарий], [Адрес_отправления], [Адрес_прибытия], [Название_груза], [Вес], [Количество]) VALUES (0, 2, 1, 2, CAST(N'2025-04-10 00:00:00.000' AS DateTime), N'1', N'1', N'1', N'1', 1, 1)
INSERT [dbo].[Заявки] ([ID_заявки], [ID_клиента], [ID_менеджера], [ID_статус], [Дата], [Комментарий], [Адрес_отправления], [Адрес_прибытия], [Название_груза], [Вес], [Количество]) VALUES (1, 2, 1, 2, CAST(N'2025-04-09 00:00:00.000' AS DateTime), N'4', N'2', N'34', N'4', 4, 4)
INSERT [dbo].[Заявки] ([ID_заявки], [ID_клиента], [ID_менеджера], [ID_статус], [Дата], [Комментарий], [Адрес_отправления], [Адрес_прибытия], [Название_груза], [Вес], [Количество]) VALUES (2, 2, 1, 1, CAST(N'2025-04-01 00:00:00.000' AS DateTime), N'5', N'4', N'5', N'5', 5, 5)
SET IDENTITY_INSERT [dbo].[Заявки] OFF
SET IDENTITY_INSERT [dbo].[Маршруты] ON 

INSERT [dbo].[Маршруты] ([ID_маршрута], [ID_водителя], [Дата_отправки], [Дата_прибытия], [ID_транспорта], [ID_статус], [ID_заявки], [Стоимость]) VALUES (1, NULL, CAST(N'2025-05-02 02:02:49.977' AS DateTime), NULL, 1, 7, 0, CAST(26010 AS Decimal(18, 0)))
INSERT [dbo].[Маршруты] ([ID_маршрута], [ID_водителя], [Дата_отправки], [Дата_прибытия], [ID_транспорта], [ID_статус], [ID_заявки], [Стоимость]) VALUES (2, NULL, CAST(N'2025-05-02 02:05:56.087' AS DateTime), NULL, 2, 7, 2, CAST(26050 AS Decimal(18, 0)))
INSERT [dbo].[Маршруты] ([ID_маршрута], [ID_водителя], [Дата_отправки], [Дата_прибытия], [ID_транспорта], [ID_статус], [ID_заявки], [Стоимость]) VALUES (3, NULL, CAST(N'2025-05-02 02:13:44.170' AS DateTime), NULL, 1, 7, 1, CAST(26040 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Маршруты] OFF
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([ID_пользователя], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Телефон], [Почта], [ID_роли], [Фото], [Стаж], [Зарплата], [Паспорт], [Логин], [Пароль], [Активен]) VALUES (1, N'1         ', N'1         ', N'1         ', CAST(N'2003-12-23 00:00:00.000' AS DateTime), 1, N'1         ', 2, NULL, CAST(1 AS Decimal(18, 0)), 1.0000, N'1         ', N'1         ', N'1         ', 1)
INSERT [dbo].[Пользователи] ([ID_пользователя], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Телефон], [Почта], [ID_роли], [Фото], [Стаж], [Зарплата], [Паспорт], [Логин], [Пароль], [Активен]) VALUES (2, N'22        ', N'22        ', N'22        ', CAST(N'2009-10-10 00:00:00.000' AS DateTime), 22, N'22        ', 3, NULL, NULL, NULL, N'2         ', N'2         ', N'2         ', 1)
INSERT [dbo].[Пользователи] ([ID_пользователя], [Фамилия], [Имя], [Отчество], [Дата_рождения], [Телефон], [Почта], [ID_роли], [Фото], [Стаж], [Зарплата], [Паспорт], [Логин], [Пароль], [Активен]) VALUES (3, N'33        ', N'33        ', N'33        ', CAST(N'2019-09-11 00:00:00.000' AS DateTime), 2, N'2         ', 4, NULL, CAST(1 AS Decimal(18, 0)), 11111111.0000, N'1         ', N'3         ', N'3         ', 1)
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([ID], [Роль]) VALUES (1, N'Администратор')
INSERT [dbo].[Роли] ([ID], [Роль]) VALUES (2, N'Менеджер')
INSERT [dbo].[Роли] ([ID], [Роль]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Роли] OFF
SET IDENTITY_INSERT [dbo].[Статус] ON 

INSERT [dbo].[Статус] ([ID], [Наименование_статуса]) VALUES (1, N'Отправлен')
INSERT [dbo].[Статус] ([ID], [Наименование_статуса]) VALUES (2, N'Выполняется')
INSERT [dbo].[Статус] ([ID], [Наименование_статуса]) VALUES (3, N'Назначение ТС и водителя')
SET IDENTITY_INSERT [dbo].[Статус] OFF
SET IDENTITY_INSERT [dbo].[Транспорт] ON 

INSERT [dbo].[Транспорт] ([ID_транспорта], [Номерной_знак], [Тип], [Вместительность], [Год_выпуска], [ID_статус]) VALUES (1, N'33        ', N'333', 100, 2003, 10)
INSERT [dbo].[Транспорт] ([ID_транспорта], [Номерной_знак], [Тип], [Вместительность], [Год_выпуска], [ID_статус]) VALUES (2, N'421       ', N'112', 100, 2003, 11)
SET IDENTITY_INSERT [dbo].[Транспорт] OFF
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD  CONSTRAINT [FK_Заявки_Users] FOREIGN KEY([ID_менеджера])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Заявки] CHECK CONSTRAINT [FK_Заявки_Users]
GO
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD  CONSTRAINT [FK_Заявки_Users1] FOREIGN KEY([ID_клиента])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Заявки] CHECK CONSTRAINT [FK_Заявки_Users1]
GO
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD  CONSTRAINT [FK_Заявки_Статус] FOREIGN KEY([ID_статус])
REFERENCES [dbo].[Статус] ([ID])
GO
ALTER TABLE [dbo].[Заявки] CHECK CONSTRAINT [FK_Заявки_Статус]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [FK_Маршруты_Users] FOREIGN KEY([ID_водителя])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [FK_Маршруты_Users]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [FK_Маршруты_Заявки] FOREIGN KEY([ID_заявки])
REFERENCES [dbo].[Заявки] ([ID_заявки])
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [FK_Маршруты_Заявки]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [FK_Перевозки_Статус] FOREIGN KEY([ID_статус])
REFERENCES [dbo].[Статус] ([ID])
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [FK_Перевозки_Статус]
GO
ALTER TABLE [dbo].[Маршруты]  WITH CHECK ADD  CONSTRAINT [FK_Перевозки_Транспорт] FOREIGN KEY([ID_транспорта])
REFERENCES [dbo].[Транспорт] ([ID_транспорта])
GO
ALTER TABLE [dbo].[Маршруты] CHECK CONSTRAINT [FK_Перевозки_Транспорт]
GO
ALTER TABLE [dbo].[Платежи]  WITH CHECK ADD  CONSTRAINT [FK_Платежи_Маршруты] FOREIGN KEY([ID_маршрута])
REFERENCES [dbo].[Маршруты] ([ID_маршрута])
GO
ALTER TABLE [dbo].[Платежи] CHECK CONSTRAINT [FK_Платежи_Маршруты]
GO
ALTER TABLE [dbo].[Платежи]  WITH CHECK ADD  CONSTRAINT [FK_Платежи_Статус] FOREIGN KEY([ID_статуса])
REFERENCES [dbo].[Статус] ([ID])
GO
ALTER TABLE [dbo].[Платежи] CHECK CONSTRAINT [FK_Платежи_Статус]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Роли] FOREIGN KEY([ID_роли])
REFERENCES [dbo].[Роли] ([ID])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Сотрудники_Роли]
GO
ALTER TABLE [dbo].[Транспорт]  WITH CHECK ADD  CONSTRAINT [FK_Транспорт_Статус] FOREIGN KEY([ID_статус])
REFERENCES [dbo].[Статус] ([ID])
GO
ALTER TABLE [dbo].[Транспорт] CHECK CONSTRAINT [FK_Транспорт_Статус]
GO
ALTER TABLE [dbo].[Уведомления]  WITH CHECK ADD  CONSTRAINT [FK_Уведомления_Заявки] FOREIGN KEY([ID_заявки])
REFERENCES [dbo].[Заявки] ([ID_заявки])
GO
ALTER TABLE [dbo].[Уведомления] CHECK CONSTRAINT [FK_Уведомления_Заявки]
GO
ALTER TABLE [dbo].[Уведомления]  WITH CHECK ADD  CONSTRAINT [FK_Уведомления_Пользователи] FOREIGN KEY([ID_пользователя])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Уведомления] CHECK CONSTRAINT [FK_Уведомления_Пользователи]
GO
